* {
    margin: 0;
    padding: 0;
}

.principal {
    border: 2px solid black;
    width: 350px;
    height: 450px;
    margin: auto;
}

.foto {
    border: 2px solid black;
    width: 125px;
    height: 130px;
}

.contato {
    border: 2px solid black;
    width: 125px;
    height: 27px;
    display: block;
}

.contato a {
    display: block;
    padding: 4px;
}

.primeiro {
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

.segundo {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.caixas {
    display: inline-block;
    width: 55px;
    height: 58px;
    border: 2px solid black;
}

footer {
    border: 2px solid black;
    margin: 10px 20px 30px 40px;
}