* {
    margin: 0;
    padding: 0;
}

.principal {
    border: 2px solid black;
    width: 285px;
    height: 375px;
    margin: auto;
}

.foto {
    border: 2px solid black;
    width: 125px;
    height: 130px;
}

.caixas {
    border: 2px solid black;
    width: 125px;
    height: 27px;
    display: block;
}

footer {
    border: 2px solid black;
    margin: 10px 20px 30px 40px;
}

.contato {
    border: 2px solid black;
    width: 125px;
    height: 27px;
    display: block;
}



.nomes {
    border-bottom: 1px solid black;
}

.primeiro {
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

.segundo {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

