* {
    margin: 0;
    padding: 0;
}

.principal {
    border: 2px solid black;
    width: 700px;
    height: 900px;
    margin: auto;
}

.foto {
    border: 2px solid black;
    width: 250px;
    height: 260px;
}

.contato {
    border: 2px solid black;
    width: 220px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.contato a {
    display: block;
    padding: 4px;
}

.caixas {
    display: inline-block;
    width: 180px;
    height: 180px;
    border: 2px solid black;
    margin-top: 190px;
}

footer {
    border: 2px solid black;
    margin: 10px 20px 30px 40px;
}

.caixa-primeiro {
    margin-bottom: 40px;
}

.caixa-segundo {
    margin-top: 20px;
}
